


Header
{
font-family: serif;
font-style: italic;
outline : 1px solid ;
background-color:aqua;
height: 80px;
width: 100%;
min-width: 900px;
max-width: 1400px;
    
}

#Menu
{
width: 25%;
height: 555px;
overflow: auto;
border-style: solid;
float: left;

}

.Content
{
    background-color: bisque;
    outline: 1px solid;
    margin-left: 250px;
    min-width: 740px;
    max-width: 1190px;
    overflow: auto;

    
    
}
#footer
{
   
    outline: 1px solid;
    margin-top: 550px;
    
}

.links
{
    margin-bottom: 20px;
    text-decoration: none;
    
}

.links a
{
   text-decoration: none;;
    font: Arial;
    color: black;
}
.registration
{
margin-top: 10px;
   
}
.input
{
margin-left: 20px;    

}
.find
{
    margin-top: -40px;
    float: right;
    
}
$main
{
    overflow: auto;
}
